.hero-content {
  max-width: 6xl;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.hero-title {
  background: var(--color-gradient-green-to-cyan);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  font-family: sans-serif;
  animation: gradient 6s linear infinite;
}

.lightbox-content {
  max-width: 6xl;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.lightbox-figure{
  background: var(--color-gradient-green-to-cyan);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  font-family: sans-serif;
  animation: gradient 6s linear infinite;
}

.lightbox-figure sub{
  background: var(--color-gradient-green-to-cyan);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  font-family: inherit;
  animation: inherit;
  font-size: 50%;
  vertical-align:middle;
}
.lightbox-content sup{
  background: var(--color-gradient-green-to-cyan);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  font-family: inherit;
  animation: inherit;
  font-size: 100%;
  vertical-align:middle;
}

.lightbox-content div {
  line-height: 0.9;
}
.third-width-center {
  flex:  1;
  width: 33.33%;
  text-align: center;
}
.text-container {
  max-width: 48rem;
  margin: 0 auto;
}

.hero-text {
  color: rgb(255, 255, 255);
  white-space: pre-line;
}

.btn-container {
  max-width: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.hero-lower-btn {
  width: 100%;
  background: var(--color-gradient-green-to-blue);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.16);
  transition: background-size 0.3s;
  border-radius: 12px;
  padding-block: 8px;
}

.hero-lower-btn:hover {
  background-size: 100% 150%;
}

.hero-upper-btn {
  --border-width: 2px;
  --border-radius: 40px;
  --border-color: var(--color-gradient-green-to-blue);
  --left-position: 15%;
  --top-position: 0;
  --width-size: 70%;
  --height-size: 100%;
  padding-block: 4px;
  max-width: 10rem;
}

.hero-upper-btn:after {
  content: "";
  position: absolute;
  left: var(--left-position);
  top: var(--top-position);
  width: var(--width-size);
  height: var(--height-size);
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background: var(--border-color);

  mask-image: var(--mask-bg), var(--mask-bg);
  mask-clip: var(--mask-clip);
  mask-composite: exclude;
  -webkit-mask-image: var(--mask-bg), var(--mask-bg);
  -webkit-mask-clip: var(--mask-clip);
  -webkit-mask-composite: destination-out;
}

.hero-upper-btn:hover {
  left: var(--left-position);
  top: var(--top-position);
  width: var(--width-size);
  border-radius: var(--border-radius);
  background: var(--border-color);
  
}

.gradient-container {
  --border-width: 2px;
  --border-radius: 10px;
  --border-color: var(--color-gradient-green-to-blue);
  --left-position: 0%;
  --top-position: 0;
  --width-size: 100%;
  --height-size: 100%;
  padding: 30px;
  position: relative;
}


.gradient-container:after {
  content: "";
  position: absolute;
  left: var(--left-position);
  top: var(--top-position);
  width: var(--width-size);
  height: var(--height-size);
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background: var(--border-color);

  mask-image: linear-gradient(var(--color-dark-blue), var(--color-dark-blue)), linear-gradient(var(--color-dark-blue), var(--color-dark-blue));
  mask-clip: content-box, padding-box;
  mask-composite: exclude;
  -webkit-mask-image: var(--mask-bg), var(--mask-bg);
  -webkit-mask-clip: content-box, padding-box;
  -webkit-mask-composite: destination-out;
}

.providing-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.providing-card-title {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.providing-card-content {
  color: white;
  font-size: 0.8rem;
}

.group-card {
  display: flex;
  flex-direction: column;
}
.card-inner-content {
  --border-radius: 10px;
  background: linear-gradient(to bottom, #05BE9D, #0A77D8);
  border-radius: var(--border-radius);
  height: 200px; /* 设置固定高度 */
  padding: 0 10px;
  position: relative;
}

.card-inner-content:hover {
  background-size: 100% 150%;
}