.help-sidebar {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .help-sidebar {
    margin-bottom: 0;
    margin-right: 2.5rem;
    width: 15rem;
    flex-shrink: 0;
  }
}

.help-sidebar-nav {
  position: relative;
  border-radius: 0.5rem;
  background: var(--color-dark-grayish-blue);
  padding: 1.25rem;
  backdrop-filter: blur(2px);
}

.help-sidebar-nav ul {
  border-top: 1px solid transparent;
  font-size: 0.875rem;
}

.help-sidebar-nav a {
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.help-sidebar-nav a.active {
  color: #6366f1;
}

.help-sidebar-nav a.inactive {
  color: rgba(99, 102, 241, 0.65);
}

.help-sidebar-nav a.inactive:hover {
  color: #6366f1;
}

.help-sidebar-nav svg {
  margin-left: 0.5rem;
  height: 0.75rem;
  width: 0.75rem;
  flex-shrink: 0;
  transform: translateX(0);
  fill: currentColor;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.help-sidebar-nav a:hover svg {
  transform: translateX(0.25rem);
  color: #4f46e5;
  opacity: 1;
}

.donation-sidebar {
  margin-bottom: 4rem;
}

.donation-sidebar-nav {
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--color-darker-navy);

  backdrop-filter: blur(2px);
  border: 1px solid var(--color-dark-grayish-blue);

}
.donation-sidebar-nav-content {
  padding: 1.25rem;
}
.donation-sidebar-border{
  border-top: 1px solid var(--color-dark-grayish-blue);
}

.donation-sidebar-nav-title {
  font-size: 1rem;
  color:var(--color-light-cyan);
}

.donation-sidebar-nav-text-main {
  font-size: 0.6rem;
  color:var(--color-light-cyan);
  text-align: right;
}

.donation-sidebar-nav-text-second {
  font-size: 0.6rem;
  color:var(--color-light-cyan-2);

}
.donation-sidebar-nav-text-block-link {

  font-size: 0.6rem;
  color: var(--color-light-cyan);
  border: 1px solid var(--color-light-cyan);
  border-radius: 0.5rem;
  padding: 0.25rem;
  width: 100%; /* 设置为 100% */
  margin: 0.5rem 0;
  text-align: left;
}
.donation-sidebar-nav-text-block-link:hover {
  background-color: var(--color-light-cyan);
  color: black;
}

.donation-sidebar-nav-text-block-link a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 768px) {
  .donation-sidebar {
    margin-bottom: 0;
    width: 15rem;
    flex-shrink: 0;
  }
}