@import 'tailwindcss';

/* Additional styles */
@import './additional-styles/utility-patterns.css' layer(components);
@import './additional-styles/theme.css';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --color-blue-600: #0B5FFF;
  --color-light-blue: #29BCFF;
  --color-light-cyan: #CCEDF2;
  --color-indigo-500: #6366f1;
  --color-indigo-700: #4f46e5;
  --color-indigo-200-65: #818cf8a6;
  --color-indigo-400: #818cf8;
  --color-indigo-500-65: #6366f1a6;
  --color-blue-500: #3b83f6d6;
  --color-super-light-blue: #0044ff33;
  --color-gray-700: #4b5563;
  --color-green-500: #B3F37A;
  --color-mid-gray: #122a4618;
  --color-dark-navy: #102230; /*background color*/
  --color-green-600: #05BE9D;
  --color-blue-700: #0A77D8;
  --color-green-400: #8AE4C5;
  --color-cyan-500: #6FDCDE;
  --color-gradient-green-to-blue: linear-gradient(to bottom, var(--color-green-600), var(--color-blue-700));
  --color-gradient-purple-to-blue: linear-gradient(to top, #4c51bf, #5a67d8);
  --color-gradient-green-to-cyan: linear-gradient(to bottom, var(--color-green-500), var(--color-green-400), var(--color-cyan-500));
  --color-gradient-blue-to-light-blue: linear-gradient(to bottom, var(--color-blue-600), var(--color-light-blue));
  --mask-bg: linear-gradient(red, red); /*使用红色过滤，蓝色和绿色都将不可见，因此显现为透明 */
  --mask-clip: content-box, padding-box;
  --animate-gradient: gradient 6s linear infinite;
}

.body {
  background-color: var(--color-dark-navy);
  font-family: var(--font-inter);
  font-size: var(--text-base);
  color: var(--color-gray-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-bg {
  background: var(--color-gradient-purple-to-blue);
  background-size: 100% 100%;
  background-position: bottom;
}

.shadow-custom {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.16);
}

.hover\:bg-hover:hover {
  background-size: 100% 150%;
}

.centered-absolute-bottom {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}


.animate-gradient-text  {
  font-size: var(--text-xl);
  animation: var(--animate-gradient);
  background: var(--color-gradient-blue-to-light-blue);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nacelle-text14 {
  font-family: var(--font-nacelle);
  font-size: var(--text-xl);
  font-weight: 600;
  color: transparent;
}

@media (min-width: 768px) {
  .nacelle-text14 {
    font-size: var(--text-4xl);
  }
}
.nacelle-text45 {
  font-family: var(--font-nacelle);
  font-size: var(--text-4xl);
  font-weight: 600;
  color: transparent;
}

@media (min-width: 768px) {
  .nacelle-text45 {
    font-size: var(--text-5xl);
  }
}
.nacelle-text23 {
  font-family: var(--font-nacelle);
  font-size: var(--text-2xl);
  font-weight: 600;
  color: transparent;
}

@media (min-width: 768px) {
  .nacelle-text23 {
    font-size: var(--text-3xl);
  }
}


.text-link {
  color: var(--color-indigo-200-65); 
  transition: color 0.2s;
}

.text-link:hover {
  color: var(--color-indigo-500); 
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-indigo-500); 
  transition: color 0.2s;
}

.social-icon:hover {
  color: var(--color-indigo-400);
}

